body {
  background-image: url(https://images3.alphacoders.com/560/thumb-1920-560136.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
  z-index: -1;
}

body > header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
	height: 250px;
  max-width: 100%;
	height: auto;
}


/* h1 {
  text-align: center;
  color: rgb(236, 11, 11);
} */

ul {
  list-style-type: none;
}
