:root {
  --title-color: rgb(200, 89, 10);
  --main-color: rgb(0, 0, 0);
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b4;
  --dark: #343a40;
  --light: #ffffff;
}

/*
Global styles
*/

body {
  background-image: url(https://images3.alphacoders.com/560/thumb-1920-560136.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
  z-index: -1;
}

/* Logo */
body>header>div>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  max-width: 100%;
  height: auto;
}

/* h1 {
  text-align: center;
  color: rgb(236, 11, 11);
} */

body>header>nav {
  color: var(--light);
  background-color: var(--dark);
}

body>header>nav>ul {
  list-style-type: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* Appearance of buttons */
.btn { 
  display: inline-block; /* Displays an element as an inline block */
  border: solid 1px var(--secondary);
  width: 128px;
  padding: 16px 8px 1em 8px 16px; /* Shortened inner margin (left, top, right, bottom) */
}


/* Design burger button */
#burger-btn {
  display: none;
  width: 80px;
  height: 80px;
  padding: 6.4px;
  background-color: var(--secondary);
  color: var(--light);
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  header>nav>ul.flex-container {
    flex-direction: column;
    display: none;
  }
  #burger-btn {
    display: block;
  }
}

header>nav>ul>li {
  width: 160px;
  margin-right: 8px;
}

nav>ul>li>a {
  text-decoration: none;
  color: inherit;
}

/* Initial state */
nav>ul>li>a.btn {
  transition: color 0.6s 0.2s ease-in, transform 0.4s 0.4s linear, background-color 0.8s 0.7s ease-out;
}

/* Final state */
nav>ul>li>a.btn:hover {
  color: var(--dark);
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
  color: var(--light);
}

.shadowed {
  box-shadow: var(--secondary) 1px 3px;
}